:root {
  --font-family-main: verdana, sans-serif;
  --font-size-s: 16px;
  --font-line-s: 24px;
  --font-size-m: 18px;
  --font-line-m: 26px;
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --overlay-color: rgba(0 0 0 / 80%);
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 70px;
  --page-padding: 20px 20px 20px 45px;
  --second-layer: 20;
  --third-layer: 30;
  --fourth-layer: 40;
  --warning-color-primary: #c22020;
  --warning-color-secondary: #c92568;
}
