.Button {
  padding: 5px 15px;
  cursor: pointer;
  color: var(--primary-button-color);
  background-color: var(--primary-button-bgcolor);
  border: none;
  border-radius: 3px;
}

.ghost {
  padding: 0;
  margin: 0;
  border: none;
  color: unset;
  background: none;
  outline: none;
}

.size_m {
  font: var(--font-s);
}

.size_l {
  font: var(--font-m);
}

.size_xl {
  font: var(--font-l);
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-s);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-m);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-l);
}
