.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--link-primary-color);
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  gap: 20px;
}

.theme-switcher {
  width: 24px;
  height: 24px;
}

.lang-switcher {
  width: 20px;
  height: 24px;
}
