.app.dark {
  --bg-color: #14212a;
  --bg-color-contrast: #34495e;
  --primary-color: #cf6679;
  --secondary-color: #f5f8ff;
  --sidebar-bg-color: #03dac6;
  --sidebar-link-primary-color: #14212a;
  --button-primary-bgcolor: #48e613;
  --button-primary-color: #34495e;
}
