.app_dark_theme {
  --primary-bg-color: #14212a;
  --secondary-bg-color: #34495e;
  --additional-bg-color: #03dac6;
  --primary-color: #f5f8ff;
  --secondary-color: #7d8391;
  --primary-link-color: #14212a;
  --primary-button-bgcolor: #48e613;
  --primary-button-color: #f5f8ff;
}
