.app.light {
  --bg-color: #f5f8ff;
  --bg-color-contrast: #86e0fc;
  --primary-color: #b00020;
  --secondary-color: #34495e;
  --sidebar-bg-color: #c146fe;
  --sidebar-link-primary-color: #f5f8ff;
  --button-primary-bgcolor: #e39801;
  --button-primary-color: #f5f8ff;
}
