.light {
  --primary-bg-color: #f5f8ff;
  --secondary-bg-color: #86e0fc;
  --primary-color: #34495e;
  --additional-bg-color: #c146fe;
  --primary-link-color: #f5f8ff;
  --primary-button-bgcolor: #e39801;
  --primary-button-color: #f5f8ff;
}
