.app.light {
    --bg-color: #f5f8ff;
    --bg-color-contrast: #86E0FC;

    --primary-color: #b00020;
    --secondary-color: #34495e;

    --link-primary-color: #C146FE;
    --link-secondary-color: #e39801;
}