.Navbar {
  display: flex;
  align-items: center;
  padding: 12px;
  height: var(--navbar-height);
  background-color: var(--bg-color-contrast);
}

.links {
  display: flex;
  gap: 15px;
  margin-left: auto;
}
